@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* 팀 로고, 팀 약속, 소개 */
.header {
    height: 350px;
    padding: 30px;
}
.team_logo, .team_intro, .team_promise {
    background-color: green;
    border: 1px solid black;
    display: inline-block;
    height: 300px;
    color: white;
    padding: 10px;
}
.team_intro {
    width: 35%;
    float: left;
}
.team_logo {
    width: 20%;
    float: left;
    margin-left: 5%;
}
.team_promise {
    width: 35%;
    float: right;
}



/* 개인 팀원 카드 */
.main {
    padding: 30px;
}
.card {
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background: #fff;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
.card-img-top {
    height: 180px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
}




/* 김정찬 */
.modal-header {
    background-color: rgb(121, 201, 141);
}
.modal1_body_left {
    border: 1px solid black;
    float: left;
    width: 35%;
    padding: 20px 10px 10px 10px;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal1_body_left_img {
    width: 170px;
    height: 260px;
}
.modal1_body_left_footer > a {
    /* text-decoration: none; */
}
.github_icon {
    width: 53px;
    height: 53px;
    margin-right: 10px;
    border-radius: 50px;
}
.velog_icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.modal1_body_right {
    float: right;
    width: 60%;
}
.tab-content {
    padding: 10px;
}





/* 이장현 */
/* 카드 본체 */
.jcard {
    width: 20rem;
    height: 800px;

    margin: 50px auto 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    outline-style: outset;
}

/* 카드 이미지 */
.jcard > img {
    border-radius: 50%;
    border: 1px solid black;
}

/* 카드 이름 */
.jcard-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto 0px auto;
}


.jcard-text {
    border-radius: 10px;

    margin: 50px auto 0px auto;
    padding: 30px;

    border: 1px solid black;
}

.linkbutton {
    padding: 20px;
    margin-right: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

