@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* 팀 로고, 팀 약속, 소개 */
.header {
    height: 350px;
    padding: 30px;
}
.team_logo, .team_intro, .team_promise {
    background-color: green;
    border: 1px solid black;
    display: inline-block;
    height: 300px;
    color: white;
    padding: 10px;
}
.team_intro {
    width: 35%;
    float: left;
}
.team_logo {
    width: 20%;
    float: left;
    margin-left: 5%;
}
.team_promise {
    width: 35%;
    float: right;
}



/* 개인 팀원 카드 */
.main {
    padding: 30px;
}
.card {
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background: #fff;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
.card-img-top {
    height: 180px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
}


/* 박순호 */
.modal5_body_left {
    margin-bottom: 20px;
}
.modal5_body_right {
    height: 370px;
}
.tab-content5 {
    padding-left: 10px;
}